<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node Server Test</title>
</head>
<body>
  <h1>Welcome <%= name %><!-- 이부분에 들어가는 데이터는 서버가 만들어 준다. 서버에서 동작이 되어지는 경우 server script 언어 라고 한다. --> </h1>
  <!-- ejs는 js엔진이 해석한다. -->
  <!-- server script side - php, asp, jsp... -->
</body>
</html>